In [1]:
#Here we scrape the locally saved webpages from the relevant website using Beautiful soup along with the lxml parser. 
#This was initially done for the first page, then we gathered the information into a pandas dataframe by
#looping over the webpages. Saving the webpages is covered in another notebook.

from bs4 import BeautifulSoup

In [4]:
#open and/or read html from a local file

def open_html(path):
    with open(path, 'rb') as f:
        return f.read()

In [10]:
#Create list of soup objects

soup_list = []

for i in range(1,371):
          
    x = open_html('manual'+str(i)+'_com')

    soup = BeautifulSoup(x, 'lxml')
    
    soup_list.append(soup)

In [11]:
print(len(soup_list))

370

In [67]:
#year records

all_year_records = []

for i in range(0,370):
    
    year_vehicle_location = soup_list[i].find_all('div', attrs={'class':'img-container img-container-block hidden-sm-up'})
    
    year_records = []

    for index in range(len(year_vehicle_location)): 

        year = year_vehicle_location[index].img['alt'][0:4]
    
        year_records.append(year)

    all_year_records.append(year_records)

In [68]:
#Turn list of lists into a single list 

def flat(list_of_lists):

    flattened = [val for sublist in list_of_lists for val in sublist]

    return flattened

all_year_records = flat(all_year_records)

len(all_year_records)

11102

In [57]:
#model records

all_model_records = []

for i in range(0,370):
    
    year_vehicle_location = soup_list[i].find_all('div', attrs={'class':'img-container img-container-block hidden-sm-up'})
    
    model_records = []

    for index in range(len(year_vehicle_location)): 

        model = year_vehicle_location[index].img['alt'][4:].split('for Sale in')[0]
    
        model_records.append(model)

    all_model_records.append(model_records)

In [69]:
all_model_records = flat(all_model_records)

len(all_model_records)

11102

In [73]:
#location records

all_location_records = []

for i in range(0,370):
    
    year_vehicle_location = soup_list[i].find_all('div', attrs={'class':'img-container img-container-block hidden-sm-up'})
    
    location_records = []

    for index in range(len(year_vehicle_location)): 

        location = year_vehicle_location[index].img['alt'][4:].split('for Sale in')[1]
    
        location_records.append(location)

    all_location_records.append(location_records)

In [74]:
all_location_records = flat(all_location_records)

len(all_location_records)

11102

In [76]:
#mileage records

all_mileage_records = []

for i in range(0,370):
    
    mileage = soup_list[i].find_all('div', attrs={'data-qa':'vehicle-listing-mileage', 'class':'text-truncate', 'data-test':'vehicle-listing-mileage'})
    
    mileage_records = []

    for index in range(len(mileage)):

        miles = mileage[index].contents[2].text
    
        mileage_records.append(miles)

    all_mileage_records.append(mileage_records)

In [77]:
all_mileage_records = flat(all_mileage_records)

print(len(all_location_records))

all_mileage_records[0]

11102

'52,004 miles'

In [78]:
#Color records

all_color_records = []

for i in range(0,370):
    
    color = soup_list[i].find_all('div', attrs={'class':'text-truncate', 'data-qa':'vehicle-listing-exterior-colors', 'data-test':'vehicleListingExteriorColors'})
    
    color_records = []

    for index in range(len(color)):

        color_type = color[index].contents[2]
    
        color_records.append(color_type) 

    all_color_records.append(color_records)

In [79]:
all_color_records = flat(all_color_records)

print(len(all_color_records))

all_color_records[0]

11102

'Glacier Metallic'

In [82]:
#Price records

all_price_records = []

for i in range(0,370):
    
    price = soup_list[i].find_all('h4', attrs={'class':'heading-2'})
    
    price_records = []

    for index in range(len(price)):

        cost = price[index].contents[0]
    
        price_records.append(cost)  

    all_price_records.append(price_records)

In [83]:
   
all_price_records = flat(all_price_records)

print(len(all_price_records))

all_price_records[0]

11102

'$13,200'

In [85]:
#The big pandas dataframe


import pandas as pd

df = pd.DataFrame({'Model':all_model_records, 'Year': all_year_records, 'Price': all_price_records, 'Location': all_location_records,\
                   'Mileage': all_mileage_records, 'Color': all_color_records})

print(df.info())

df.head(100)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11102 entries, 0 to 11101
Data columns (total 6 columns):
Model       11102 non-null object
Year        11102 non-null object
Price       11102 non-null object
Location    11102 non-null object
Mileage     11102 non-null object
Color       11102 non-null object
dtypes: object(6)
memory usage: 520.5+ KB
None

,Model,Year,Price,Location,Mileage,Color
0,Jeep Renegade Latitude 4WD,2015,"$13,200","Kokomo, IN","52,004 miles",Glacier Metallic
1,Mitsubishi Eclipse GS Coupe Manual,2008,"$2,600","Tampa, FL","139,436 miles",Orange
2,Chevrolet Spark LS Manual,2019,"$8,995","Knoxville, TN","6,076 miles",Passion Fruit
3,FIAT 500 Pop Hatch,2017,"$10,497","Spokane Valley, WA","11,567 miles",Rosso (Red)
4,Chevrolet Spark LS Manual,2018,"$7,821","Matteson, IL","8,500 miles",Mosaic Black
5,Chevrolet Spark LS Manual,2018,"$8,991","Sumner, WA","6,296 miles",Mosaic Black
6,Nissan Versa 1.6 S Manual,2017,"$9,699","Valencia, CA","2,921 miles",Brilliant Silver
7,Chevrolet Spark LS Manual,2017,"$8,431","Shoreline, WA","4,416 miles",Summit White
8,Ford Fiesta S Sedan,2016,"$8,337","Lenoir City, TN","13,155 miles",OXFORD WHITE
9,Nissan Versa 1.6 S Manual,2016,"$8,911","Jacksonville, NC","4,031 miles",Super Black
10,Chevrolet Spark LS Manual,2018,"$8,888","Union City, GA","9,526 miles",Silver Ice
11,Mitsubishi Mirage SE Hatchback Manual,2017,"$7,538","Miami Gardens, FL","14,326 miles",Sunrise Orange
12,Nissan Versa S Sedan Manual,2019,"$10,988","Knoxville, TN",130 miles,Fresh Powder
13,Nissan Versa S Sedan Manual,2019,"$10,992","Prosper, TX",527 miles,Gun Metallic
14,Ford Fiesta S Sedan,2017,"$8,496","Crystal River, FL","14,486 miles",INGOT SILVER METALLIC
15,Chevrolet Spark LS Manual,2019,"$10,145","Midwest City, OK","15,986 miles",Red Hot
16,Chevrolet Spark LS Manual,2018,"$9,599","Gainesville, FL","8,798 miles",Red Hot
17,Mitsubishi Mirage G4 ES Sedan Manual,2017,"$8,500","Victoria, TX","16,748 miles",Mercury Gray
18,Chevrolet Spark LS Manual,2017,"$9,000","Sherwood, AR","12,779 miles",Kalamata
19,Nissan Versa S Sedan Manual,2019,"$11,487","Las Vegas, NV",29 miles,Brilliant Silver Metallic
20,Mitsubishi Mirage G4 ES Sedan Manual,2018,"$9,500","Orlando, FL","10,960 miles",Mystic Black
21,Mitsubishi Mirage ES Hatchback Manual,2017,"$8,999","Fort Pierce, FL","9,866 miles",Blue
22,Nissan Versa S Sedan Manual,2019,"$11,217","Batavia, OH",443 miles,Super Black
23,Mitsubishi Mirage ES Hatchback Manual,2018,"$9,399","Union City, GA","7,940 miles",Gray
24,Nissan Versa S Manual,2018,"$10,900","Torrance, CA",33 miles,Super Black
25,Nissan Versa S Sedan Manual,2019,"$12,995","El Paso, TX",100 miles,Super Black
26,Nissan Versa S Sedan Manual,2019,"$12,995","El Paso, TX",100 miles,Fresh Powder
27,Kia Rio LX Sedan Manual,2017,"$10,200","Irvine, CA","11,744 miles",Bright Silver
28,Nissan Versa S Sedan Manual,2019,"$11,777","Las Vegas, NV",37 miles,Super Black
29,Nissan Versa S Sedan Manual,2019,"$11,777","Las Vegas, NV",81 miles,Fresh Powder
...,...,...,...,...,...,...
70,Nissan Versa 1.6 S Manual,2017,"$9,946","Leesburg, FL","7,848 miles",Brilliant Silver
71,Nissan Versa S Sedan Manual,2019,"$10,999","Marietta, GA","7,282 miles",Gun Metallic
72,Ford Fiesta S Sedan,2018,"$10,900","Pocatello, ID","9,773 miles",White
73,Mitsubishi Mirage G4 ES Sedan Manual,2018,"$8,961","Marlow Heights, MD","26,289 miles",Unknown
74,smart fortwo Passion Coupe,2016,"$10,591","Houston, TX","11,148 miles",Deep Black
75,Ford Focus S Sedan,2013,"$6,955","La Vista, NE","19,801 miles",Silver
76,Nissan Versa 1.6 S Manual,2016,"$7,054","Longwood, FL","32,136 miles",Super Black
77,Nissan Versa S Sedan Manual,2019,"$12,413","Goldsboro, NC","2,449 miles",Gun Metallic
78,Nissan Versa 1.6 S Manual,2017,"$7,500","Norcross, GA","33,108 miles",Super Black
79,Nissan Versa S Manual,2018,"$9,995","Fuquay Varina, NC","11,874 miles",Fresh Powder
80,Chevrolet Spark LT with 1LT Manual,2017,"$9,949","Wenatchee, WA","18,002 miles",Mosaic Black
81,Ford Fiesta SE Sedan,2017,"$10,750","Leavenworth, KS","11,225 miles",Magnetic Metallic
82,Nissan Versa S Sedan Manual,2019,"$12,989","Boerne, TX","5,079 miles",Brilliant Silver Metallic
83,Ford Focus S Sedan,2017,"$10,877","Mesa, AZ","6,957 miles",MAGNETIC METALLIC
84,Nissan Versa 1.6 S Manual,2016,"$8,500","Escondido, CA","26,382 miles",Fresh Powder
85,Nissan Versa S Sedan Manual,2019,"$12,488","Knoxville, TN","1,098 miles",Gun Metallic
86,Nissan Versa 1.6 S Manual,2016,"$6,985","Sanford, FL","57,680 miles",Super Black
87,Chevrolet Spark LS Manual,2017,"$9,800","Noblesville, IN","15,799 miles",Red Hot
88,Kia Forte LX Sedan Manual,2017,"$9,071","Tampa, FL","30,245 miles",Deep Sea Blue
89,Mitsubishi Mirage G4 ES Sedan Manual,2017,"$8,888","Hickory, NC","17,144 miles",Wine Red
90,Nissan Versa 1.6 S Manual,2017,"$9,397","Avondale, AZ","28,548 miles",Super Black
91,Mitsubishi Mirage G4 ES Sedan Manual,2017,"$7,900","Hurst, TX","47,165 miles",Infrared
92,Mitsubishi Mirage G4 ES Sedan Manual,2018,"$9,499","Bronx, NY","12,337 miles",Black
93,Kia Rio LX Sedan Manual,2016,"$6,995","Santa Ana, CA","32,500 miles",Clear White
94,Nissan Versa S Manual,2018,"$10,900","Freehold, NJ","12,572 miles",Super Black
95,Ford Fiesta SE Sedan,2017,"$10,399","Las Vegas, NV",266 miles,Oxford White
96,Nissan Versa S Manual,2018,"$10,997","Bentonville, AR","17,715 miles",Brilliant Silver
97,Mitsubishi Mirage ES Hatchback Manual,2019,"$11,953","Columbia, KY",6 miles,Blue
98,Chevrolet Spark LS Manual,2017,"$9,561","McKinney, TX","24,396 miles",Summit White
99,FIAT 500 Pop Hatch,2013,"$7,394","Golden, CO","33,700 miles",Rame (Copper)

In [86]:
#Export to csv file which appears in current directory

df.to_csv('true_car_manual_transmission_07_2_2019', index = False, encoding = 'utf-8')